html,
body {
  height: 100%;
  background-color: black;
}

.container{
	height: 89%;
	margin: 0;
	padding: 0;

}

.addvertise{
	position: relative;
	float: left;
	width: 80%;
	height: 100%;
	

    
}

.addvertise {
	margin: 0;
	padding: 0;
	background-image: url("./images/loose_change1.jpg");
    background-size:cover;
    
		
}

/*.ad{

  object-fit: cover;
	
  

}*/



.aside{
	position: relative;
	float: right;
	width: 20%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #542e91!important;
	
}

.dateDisplay{
	
	height: 50%;
	background-color: #542e91!important;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	text-align: center;

	

}

#week{
	
		transform: translateY(250%);
}

#time{
	font-size: 3rem;
		
		transform: translateY(100%);
	
}

.displayWeather{
	height: 50%;
	background-color: #542e91!important;

}

.train1 {
	background-color:  #542e91!important;
	margin: 0 5px 0 0; 
	width: 50%;
}

.footer{
	 position: absolute;
	 display: flex;
	height: 9%;
	width: 100%;
	bottom: 5px;
	
	
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.5rem;
	text-align: center;


}

.number{
float: left;
background-color: #6d6c6c;
width: 5%;
height: 100%;

}

span{

	vertical-align: middle;

}



@media screen and (max-width: 360px) {
	.addvertise {
	margin: 0;
	padding: 0;
	background-image: url("./images/loose_change1.jpg");
    background-size:contain;
		
}


.dateDisplay{
	
	
	font-size: .5rem;
	text-align: center;

	

}

#week{
	font-size: .75rem;
	
		transform: translateY(150%);
}

#time{
	font-size: 1rem;
		
		transform: translateY(50%);

   
}


.footer{
	
	font-size: .5rem;
	text-align: center;


}
}




@media screen and (max-width: 768px) {
	.addvertise {
	margin: 0;
	padding: 0;
	background-image: url("./images/loose_change1.jpg");
    background-size:contain;
		
}


.dateDisplay{
	
	
	font-size: 1rem;
	text-align: center;

	

}

#week{
	font-size: .75rem;
	
		transform: translateY(150%);
}

#time{
	font-size: 1rem;
		
		transform: translateY(50%);

   
}


.footer{
	
	font-size: 1rem;
	text-align: center;


}
}

/* center{
    position: absolute;
   
    border: 1px solid blueviolet;
    height: 100px;
    width: 50%;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

} */